LEXMAPA_API_BASE_URL=https://lexmapa-api.linqorait.com
LEXMAPA_PROCESSOR_ID=
LEXMAPA_PROCESSOR_SECRET=
LEXMAPA_PROCESSOR_NAME=Procesador remoto LexMapa
LEXMAPA_PROCESSOR_TIER=1
LEXMAPA_PROCESSOR_VERSION=0.1.0
PROCESSOR_CAPABILITIES=PDF_TEXT,LEGAL_REFERENCES,AFFECTED_LEGAL_ITEMS,LEGAL_DIFF_CANDIDATES
PROCESSOR_POLL_INTERVAL_SECONDS=20
PROCESSOR_MAX_LEASE_SECONDS=900
PROCESSOR_MAX_PARALLEL_JOBS=1
PROCESSOR_DATA_DIR=data
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=
PROCESSOR_ENABLE_OLLAMA=false
